body{
    color: #fefdfd;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    background-color: #45373e;
}
#img-prc {
    width:10%;
    height:15%;
    margin-bottom: -20px;
}
h1{
    background-image: url(https://scontent.xx.fbcdn.net/v/t1.15752-9/385373984_821222679787154_1784148021723299492_n.png?stp=dst-png_s403x403&_nc_cat=105&ccb=1-7&_nc_sid=aee45a&_nc_ohc=p1-fu09SgMAAX9zBg2i&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdT2Hs7Agr_jVyNQbYr5SOxUK5XWqj4TXmS_NVKJ_Bx-MQ&oe=6549186A);
    text-align: center;
}
p{
    background-image: url(https://scontent.xx.fbcdn.net/v/t1.15752-9/385373984_821222679787154_1784148021723299492_n.png?stp=dst-png_s403x403&_nc_cat=105&ccb=1-7&_nc_sid=aee45a&_nc_ohc=p1-fu09SgMAAX9zBg2i&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdT2Hs7Agr_jVyNQbYr5SOxUK5XWqj4TXmS_NVKJ_Bx-MQ&oe=6549186A);
    padding:0 45px;
    text-indent:15px;
}

h2{
    border-bottom: 2px solid #6e6969;
    background-image: url(https://scontent.xx.fbcdn.net/v/t1.15752-9/385373984_821222679787154_1784148021723299492_n.png?stp=dst-png_s403x403&_nc_cat=105&ccb=1-7&_nc_sid=aee45a&_nc_ohc=p1-fu09SgMAAX9zBg2i&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdT2Hs7Agr_jVyNQbYr5SOxUK5XWqj4TXmS_NVKJ_Bx-MQ&oe=6549186A);
}
.meio {
    float:middle;
    width:20%;
    height:17%;
    margin-right:120px;
    margin-left:190px;
    border-radius: 10px;
    margin-bottom: 12px;
}
.direita {
    float:right;
    width:20%;
    height:17%;
    margin-right:auto;
    border-radius: 10px;
    margin-left:30px;
    margin-bottom: 10px;
}
.esquerda {
    float:left;
    width:20%;
    height:17%;
    border-radius:10px;
    margin-bottom: 10px;
}

.sobre{
    float:left;
    width:22%;
    height:28%;
    margin-top:-71px;
    margin-right:10px;
}
#grupo{
    width:80%;
    height:17%;
    margin-left:0px;
}
.abx{
    margin-top:35px;
}
figure{
    background-color: #0c0f56;
    border: 1px solid #3d99ab;
    text-align: center;
    padding: 15px;
    border-radius:10px;
}
.abx2{
    margin-top:60px;
}
.abx3{
    margin-top:65px;
}
#nave{
    float:left;
    width:20%;
    height:17%;
    border-radius:10px;
    margin-right:10px;
    margin-left: 150px;
}
#nave2{
    float:right;
    width:20%;
    height:17%;
    border-radius:10px;
    margin-right:200px;
    margin-left: 360px;
    margin-top: -190px;
}
#navetxt{
    margin-top: 230px;
}
#naveacm{
    margin-top:100px ;
}

.pv{
    margin-left:70px;
    margin-right:auto;
    float:left;
}
.pv2{
    margin-left:110px;
    margin-right:35px;
    float:left;
    margin-bottom: 40px;
}
.pv3{
    width:34%;
    height:40%;
    margin-left:90px;
    margin-right:auto;
    float:left;
}
.pv4{
    width:34%;
    height:40%;
    margin-left:110px;
    margin-right:auto;
    
}
.pv5{
    width:34%;
    height:40%;
    margin-left:110px;
    margin-right:20px;
    float:left;
}
#pvt3{
    margin-top: 200px;
}
#pvt2{
    margin-top: 325px;
    margin-bottom: -190px;
    margin-left: 40px;

}
.pv6{
    width:34%;
    height:40%;
    margin-left:310px;
    margin-right:20px;
    float:left;
}
#pv7{
    width:34%;
    height:40%;
    margin-left:310px;
    margin-right:20px;
    margin-bottom: -350px;
}
.pvt9{
    margin-top: 200px;
}
#pvt10{
    margin-left:233px;
}
#pvt11{
    margin-top: 325px;
    margin-bottom: -190px;
    margin-left: 321px;
}
